elpa
ido.last
*~
quelpa
recentf
/projectile-bookmarks.eld
/eshell/
/TAGS
/.mc-lists.el
/games/
/.session
/elnode/
/projectile.cache
/tramp
flycheck_*
/elpa2/
/elisp/projectile-alternate-file.el
/var/
/jumplist
/.cask/
